.work_filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work_item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

.work_item:hover {
    color: var(--bright-pink)
}

.work_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work_card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: #fff;
}

.work_category {
    color: #fff;
    background-color: var(--bright-pink);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--smal-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
}

.work_title {
    color: var(--text-color);
    padding-top: 1.5rem;
    text-align: center;
    font-size: var(--h3-font-size);
}

.work_desc {
    font-size: var(--text-size);
    color: var(--text-color);
    margin: 1rem;
    text-align: justify
}

.work_button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.work_card:hover .work_button{
    opacity: 1;
}

