.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 540px;
    text-align: center;
}

.home_img {
    margin-bottom: 1.5rem;
}

.home_name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home_socials {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
}

.home_social-link {
    color: var(--dark-blue);
    font-size: 1.3rem;
    transition: .3s
}

.home_social-link:hover {
    color:yellow
}
