.aside {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--color-bg);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav_link{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav_link:hover {
    color: var(--bright-pink);
}

.nav__toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--color-bg);
    border: 1px solid #fff;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: .3s
}

@media screen and (max-width: 1024px){
  .aside {
    left: -110px;
  }

  .nav__toggle {
    display: flex
  }

  .nav__togle-open {
    left: 140px
  }

  .show-menu {
    left: 0;
  }
}